.card {
  display: flex;
  flex-direction: column;
  margin: 0px 10px;
  font-family: 'Red Hat Text', sans-serif;
  font-size: 14px;
  letter-spacing: 5px;
  text-align: center;
  color: white;
}

.card-digit {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 120px;
  height: 120px;
  font-size: 55px;
  color: #fb6087;
  background-color: #343650;
  border-radius: 10px;
}

.card-label {
  font-size: 12px;
  color: #8486a9;
}

html {
  height: 100%;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  height: 100%;
  background: url("../images/bg-stars.svg"), linear-gradient(#191a24, #1e1f29) no-repeat;
  background-attachment: fixed;
}

#main {
  display: flex;
  flex-direction: column;
  margin: 0;
}

header {
  padding: 70px 0px;
  font-family: 'Red Hat Text', sans-serif;
  font-size: 16px;
  letter-spacing: 5px;
  text-align: center;
  color: white;
}

#card-container {
  display: flex;
  justify-content: center;
  margin-bottom: 100px;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
}

#footer-background {
  position: absolute;
  bottom: 0;
  min-height: 200px;
  width: 100%;
}
