.card {
  background-color: red;
  width: 30px;
  height: 30px;
}

body {
  display: flex;
  justify-content: center;
  margin: 0;
  height: 100vh;
  background: url("../images/bg-stars.svg"), linear-gradient(#191a24, #1e1f29) no-repeat;
}

header {
  padding-top: 70px;
  font-family: 'Red Hat Text', sans-serif;
  font-size: 14px;
  letter-spacing: 5px;
  text-align: center;
  color: white;
  border: solid red;
}

img {
  position: absolute;
  bottom: 0;
  width: 100%;
}
