.card {
  display: flex;
  flex-direction: column;
  margin: 0px 10px;
  font-family: 'Red Hat Text', sans-serif;
  font-size: 14px;
  letter-spacing: 5px;
  text-align: center;
  color: white;
}

.card-digit {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 120px;
  height: 120px;
  font-size: 55px;
  color: #fb6087;
  background-color: #343650;
  border-radius: 10px;
}

.card-label {
  font-size: 12px;
  color: #8486a9;
}

body {
  display: flex;
  flex-direction: column;
  margin: 0;
  height: 100vh;
  background: url("../images/bg-stars.svg"), linear-gradient(#191a24, #1e1f29) no-repeat;
}

header {
  padding: 70px 0px;
  font-family: 'Red Hat Text', sans-serif;
  font-size: 16px;
  letter-spacing: 5px;
  text-align: center;
  color: white;
}

#card-container {
  display: flex;
  justify-content: center;
}

footer {
  position: sticky;
  bottom: 0;
}

footer #footer-background {
  width: 100%;
}
