body {
    margin: 0;

    background-color: hsl(237, 18%, 59%);
    background-color: hsl(345, 95%, 68%);
    background-color: hsl(0, 0%, 100%);
    background-color: hsl(236, 21%, 26%);
    background-color: hsl(235, 16%, 14%);
    background-color: hsl(234, 17%, 12%);

    // background-color: line;
    // background-image: url(../images/bg-stars.svg);
    // background-position: right;
    // background-repeat: no-repeat;

    background-image: url("../images/bg-stars.svg"), linear-gradient(90deg, red, blue) no-repeat; 

}

#footer {
    position: fixed;
    bottom: 0;
}

