@import 'card';

html {
    height: 100%;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    height: 100%;
    background: url('../images/bg-stars.svg'),
        linear-gradient(hsl(234, 17%, 12%), hsl(235, 16%, 14%)) no-repeat;
    background-attachment: fixed;
}

#main {
    display: flex;
    flex-direction: column;
    margin: 0;
}

header {
    padding: 70px 0px;
    font-family: 'Red Hat Text', sans-serif;
    font-size: 16px;
    letter-spacing: 5px;
    text-align: center;
    color: white;
}

#card-container {
    display: flex;
    justify-content: center;
    margin-bottom: 100px;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
}

#footer-background {
    position: absolute;
    bottom: 0;
    min-height: 200px;
    width: 100%;
}
