@import 'card';

body {
    display: flex;
    flex-direction: column;
    margin: 0;
    height: 100vh;
    background: url('../images/bg-stars.svg'),
        linear-gradient(hsl(234, 17%, 12%), hsl(235, 16%, 14%)) no-repeat;
}

header {
    padding: 70px 0px;
    font-family: 'Red Hat Text', sans-serif;
    font-size: 16px;
    letter-spacing: 5px;
    text-align: center;
    color: white;
    border: solid red;
}

#card-container {
    display: flex;
    justify-content: center;
}

img {
    position: absolute;
    bottom: 0;
    width: 100%;
}
